@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/css3";
@import "compass/utilities/links/";
@import "fonts/fontfaces";
@import "partials/layout";
@import "compass/typography/links/hover-link";
@import "compass/typography/links/link-colors";
@import "compass/typography/lists/inline-list";
@import "compass/utilities/general/clearfix";
@import "compass/layout/sticky-footer";
@import "compass/typography/links/unstyled-link";
@import "resources/*.png";
@include all-resources-sprites;
@include sticky-footer(54px, "#container", ".push", "#footer");

$color_gris_font: rgb(38,38,38);
$color_gris_font2: rgb(150,150,150);
$color_gris_muyclaro: rgb(230,230,230);
$color_gris_muyclaro2: rgba(255,255,255,0.9);
$color_gris_muyclaro3: rgba(0,0,0,0.04);

@mixin user-select{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
@mixin course-header-font {
	color: black;
	font-size: 36px;
	font-family: DroidSerif,Helvetica,Arial,sans-serif;
}
@mixin header-font {
	color: $color_gris_font;
	display: block;
	font-size: 20px;
	font-family: DroidSerif,Helvetica,Arial,sans-serif;
}
@mixin header-tweet {
	color: $color_gris_font;
	display: block;
	font-size: 14px;
	font-family: DroidSans,Helvetica,Arial,sans-serif;
}
@mixin header-button {
	color: $color_gris_font;
	display: block;
	font-size: 11px;
	font-family: DroidSans,Helvetica,Arial,sans-serif;
}
@mixin mainpage-title1-font {
	display: block;
	color: black;
	font-size: 20px;
	line-height: 25px;
	font-family: DroidSerif,Helvetica,Arial,sans-serif;
	padding-bottom: 10px;
}
@mixin mainpage-title2-font {
	display: block;
	color: black;
	font-size: 14px;
	line-height: 17px;
	font-family: DroidSerif,Helvetica,Arial,sans-serif;
	padding-bottom: 5px;
}
@mixin mainpage-body-font {
	color: $color_gris_font;
	display: block;
	font-size: 12px;
	font-family: DroidSans,Helvetica,Arial,sans-serif;
}
@mixin mainpage-small-font {
	color: $color_gris_font;
	display: block;
	font-size: 10px;
	font-family: DroidSans,Helvetica,Arial,sans-serif;
}
@mixin title-post-font {
	display: block;
	font-size: 28px;
	line-height: 36px;
	font-family: DroidSerif,Helvetica,Arial,sans-serif;
}
@mixin subtitle-post-font {
	display: block;
	opacity: 0.65;
	font-size: 18px;
	line-height: 24px;
	font-family: DroidSans,Helvetica,Arial,sans-serif;
	padding-top: 35px;
	padding-bottom: 35px;
}
@mixin body-post-font {
	display: block;
	font-size: 14px;
	line-height: 20px;
	font-family: Helvetica,Arial,sans-serif;
	padding-top: 10px;
	padding-bottom: 10px;
	strong{
		font-weight: bold;
	}
}
@mixin body-header-post-font {
	display: block;
	font-size: 18px;
	line-height: 24px;
	font-family: DroidSans,Helvetica,Arial,sans-serif;
	padding-top: 10px;
	padding-bottom: 5px;
}

.mosaiqy li {
	@include box-sizing(border-box);
	overflow: hidden;
	position: absolute;
	width: 120px;
	height: 70px;
	background-color: black;
	border-top:1px solid white;
	border-left:1px solid white;
}
.mosaiqy img {
	width: 120px;
}

#header{
	@include mainpage-small-font;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 10px;
	border-bottom: 1px solid silver;
	position:relative;
	nav{
		h1{
			@include user-select;
			color:white;
		}
		ul{
			width:600px;
			@include delimited-list(" > ");
			a{
				@include hover-link;
				@include link-colors($color_gris_font, black, black, $color_gris_font, black);
			}
		}
		.botones-sociales{
		}

	}
}
#footer{
	@include mainpage-small-font;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 10px;
	border-top: 1px solid silver;
	footer{
		p{
			color:$color_gris_font2;
			padding-bottom:10px;
			a{
				@include hover-link;
				@include link-colors($color_gris_font, $color_gris_font, $color_gris_font, $color_gris_font, $color_gris_font);
			
			}
		}
		&:last{
			color:gray;
		}
	}
}

#course-header{
	height:300px;
	margin-bottom:40px;
	position:relative;
	.caption{
		position:absolute;
		right:5px;
		bottom:5px;
		padding:3px;
		@include mainpage-small-font;
		color:white;
		background-color:rgba(0,0,0,0.50);
	}
	h1{
		display:inline;
		@include course-header-font;
		background:white;
		padding-left:15px;
		padding-right:25px;
		padding-top:15px;
		padding-bottom:10px;
		top:120px;
		position:absolute;
	}
}
#col-left.home{
	position:relative;
	 h1{
		@include box-sizing(border-box);
		width:360px;
		height:70px;
		position:absolute;
		padding-left:15px;
		padding-top:20px;
		background:$color_gris_muyclaro2;
		top:70px;
		@include course-header-font;
		z-index:1000;
	}
}
.course, .lesson{
	h1{
		@include title-post-font;
	}
	h2{
		@include subtitle-post-font;
		padding-top:15px;
		padding-bottom:25px;
	}
	.subtitle{
		@include subtitle-post-font;
		padding-top: 0px;
		padding-bottom: 20px;
	}
	a{
		color: inherit;
		text-decoration:underline;
		@include link-colors(black, $color_gris_font, black, $color_gris_font, black);
	}
	h3, h4{
		@include body-header-post-font;
	}
	p:first-child{
		padding-top: 0px;
	}
	p{
		@include body-post-font;
	}
	ul{
		margin-bottom:30px;
		list-style-type:circle;
		li{
			margin-bottom:5px;
		}
	}
}
.keynote {
	@include box-sizing(border-box);
	background-color: $color_gris_muyclaro3;
	margin-bottom: 40px;
	padding:5px;
	border: 1px solid silver;
	@include border-radius(5px, 5px);
	figcaption{
		padding-top:5px;
		padding-bottom:5px;
		padding-left:5px;
		@include body-post-font;
		font-size:13px;
		color: gray;
	}
}
.bibliography-list{
	h1{
		@include subtitle-post-font;
		padding-top: 30px;
		padding-bottom: 5px;
		color: black;
	}
	ul{
		border-top: 1px solid gray;
		@include body-post-font;
		list-style-type:circle;
		li{
			padding-top: 1px;
			padding-bottom: 1px;
			font-size:13px;
			a{
				@include unstyled-link;
				@include link-colors($color_gris_font, black, black, $color_gris_font, black);
			}
		}
	}
}

.lesson-list, .related-lesson-list, .additional-resources{
	margin-bottom: 40px;
	&:last-child{
		margin-bottom: 0px;
	};
	h1{
		@include subtitle-post-font;
		padding-top: 0px;
		padding-bottom: 5px;
		color: black;
		opacity:1;
	}
	ul{
		border-top: 1px solid silver;
		border-bottom: 1px solid silver;
		li{
			a{
				@include unstyled-link;
				@include link-colors($color_gris_font, black, black, $color_gris_font, black);
			}
			&:link, &:visited, &:active, &:focus{
				@include transition(all .25s linear);
				background-color:white;
			}
			&:hover{
				background-color:$color_gris_muyclaro3;
				@include transition(all .25s linear); 
			}
			height: 70px;
			border-bottom: 1px solid $color_gris_muyclaro;
			.thumbnail{
				@include float-left;
				margin:10px;
				height:50px;
				width:50px;
				@include border-radius(25px, 25px);
				border: 1px solid $color_gris_muyclaro;
				@include box-sizing(border-box);
			}
			.icon{
				@include float-left;
				margin:10px;
				height:50px;
				width:50px;
				display: block;
			}
			hgroup{
				height: 70px;
				padding-left: 10px;
				display: table-cell;
				vertical-align: middle;
				h2{
					@include body-post-font;
					line-height: 18px;
					font-weight: bold;
					color:black;
					padding-top: 0px;
					padding-bottom: 0px;
				}
				h3{
					@include body-post-font;
					font-size: 13px;
					line-height: 18px;
					color:gray;
					padding-top: 0px;
					padding-bottom: 0px;
				}
			}
			&:last-child{
				border-bottom: none;
			}
		}
	}
}

.courses-list {
	opacity:1;
	h1{
		@include title-post-font;
		color:black;
		opacity:1;
		padding-bottom: 0px;
	}
	h2{
		@include subtitle-post-font;
		padding-top: 15px;
		padding-bottom: 30px;
		color:gray;
		opacity:1;
	}
	@extend .lesson-list;
}