
<nav>
	<h1>Navigation</h1>
	{% if page.title == "teaching@saul" %}
	<ul>
		<li><a href="/" rel="home">{{ site.home_page-title }}</a></li>
	</ul>
	{% else %}
	<ul>
		<li><a href="/" rel="home">{{ site.home_page-title }}</a></li>
		{% if page.category == "lesson" %}
		{% for course in site.categories.course %}
			{% if course.title == page.tag %}
			<li><a href="{{ course.url }}" rel="home">{{ course.title }}</a></li>
			{% endif %}
		{% endfor %}
		{% endif %}
		<li><a href="{{ page.url }}" >{{ page.title }}</a></li>
	</ul>
	{% endif %}
	<!-- AddThis Button BEGIN -->
	<div class="addthis_toolbox addthis_default_style ">
		<a class="addthis_button_facebook"></a>
		<a class="addthis_button_twitter"></a>
		<a class="addthis_button_email"></a>
		<a class="addthis_counter addthis_bubble_style"></a>
	</div>
	<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f297b10240fbbd7"></script>
	<!-- AddThis Button END -->
</nav>