<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" dir="ltr" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope itemtype="http://schema.org/Article">
<head>
	<title>{{ page.title }}</title>
	{% include _scripts.html %}
</head>
<body>
	<div class="container">
		<div id="header">
			{% include _navigation.html %}
		</div>
		<header id="course-header" style="background:url(http://{{ page.image }}_b.jpg) no-repeat left center">
			<span class="caption">{{ page.image_caption }}</span>
			<h1>{{ page.title }}</h1>
		</header>
		<div id="col-left" class="course">
			<span class="subtitle">{{ page.subtitle }}</span>
			{{ content }}
			{% include _bibliography.html %}
		</div>
		<div id="col-right">
			{% include _courselessons.html %}
		</div>
		<div class="push"></div>
	</div>
	<div id="footer">
		{% include _footer.html %}
	</div>
</body>