<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" dir="ltr" xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
	<title>{{ page.title }}</title>
	{% include _scripts.html %}
</head>
<body>
	<div class="container">
		<div id="header">
			{% include _navigation.html %}
		</div>
		<div id="col-left" class="lesson">
			<hgroup>
				<h1>{{ page.title }}</h1>
				<h2>{{ page.subtitle }}</h2>
			</hgroup>
			<section>
				{{ content }}
			</section>
			{% include _bibliography.html %}
		</div>
		<div id="col-right">
			{% include _slideshow.html %}
			{% include _additionalresources.html %}
			{% include _relatedlessons.html %}
		</div>
		<div class="push"></div>
	</div>
	<div id="footer">
		{% include _footer.html %}
	</div>
</body>